.fetch-random-container {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(245, 246, 252, 0),
      rgb(0, 0, 0)
    ),
    url('../../img/randomQuoteBg.png');
  background-size: cover;
  color: white;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.search-random-quote {
  margin-top: 8rem;
  height: 20vh;
  width: 30vw;
  grid-column: 2/3;

  h1 {
    font-size: calc(1rem + 3vw);
  }

  button {
    padding: 0.7rem;

    font-size: calc(0.3rem + 1.4vw);
    background: none;
    color: white;
    border: 1px solid white;

    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
      cursor: pointer;
    }
  }

  h4 {
    margin-top: 4rem;
    font-size: calc(1rem + 1vw);
  }
}

@media (max-width: 800px) {
  .fetch-random-container {
    grid-template-columns: 1fr;
    align-items: center;
    padding: 4rem;
  }

  .search-random-quote {
    text-align: center;
    width: 100%;
    transform: translateY(-100%);

    margin-left: 5rem;
    margin-right: 5rem;
  }
}
